html
  head
    script(src='/js/script.js' defer='')
    link(rel='stylesheet' href='/stylesheet/style.css')
    //- link(rel='stylesheet' href='https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css')

  body
    header_homepage Spotify Playlist Generator
    form(action='/', method='POST')
      .login_button
        button(type='submit', id="homepage_button") Let's do it!
        .loader
    //- a(href='/authorize' style='font-size:30px; display:block;text-align:center;padding-top:50px;padding-bottom:50px;') Log in
    img(src='/images/flyer_img.png' alt='flyer_img' style='display: block; margin-left:auto; margin-right: auto; width:50%;')
    

    