html
  head
    link(rel='stylesheet' href='/stylesheet/style.css')
    //- link(rel='stylesheet' href='https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css')

  body
    header_user1ready Waiting for your friend to complete...
    p_user1ready Once your friend has selected their favorite playlists, you will receive an email. This email will contain the generated playlist with explanations why these songs are recommended to you. After looking at this you have to fill out the questionnaire (link in email) WITHOUT discussing the playlist/explanation with your friend beforehand. This would make the results less accurate. Thank you very much!
    img(src='/images/waiting.png' alt='flyer_img' style='display: block; margin-left:auto; margin-right: auto; width:50%;')
